In [1]:
from ucimlrepo import fetch_ucirepo as fu
import pandas as pd

adult = fu(id = 2)

x = adult.data.features
y = adult.data.targets

tab = pd.concat([x, y], axis = 1)

adult.variables

,name,role,type,demographic,description,units,missing_values
0,age,Feature,Integer,Age,N/A,None,no
1,workclass,Feature,Categorical,Income,"Private, Self-emp-not-inc, Self-emp-inc, Feder...",None,yes
2,fnlwgt,Feature,Integer,None,None,None,no
3,education,Feature,Categorical,Education Level,"Bachelors, Some-college, 11th, HS-grad, Prof-...",None,no
4,education-num,Feature,Integer,Education Level,None,None,no
5,marital-status,Feature,Categorical,Other,"Married-civ-spouse, Divorced, Never-married, S...",None,no
6,occupation,Feature,Categorical,Other,"Tech-support, Craft-repair, Other-service, Sal...",None,yes
7,relationship,Feature,Categorical,Other,"Wife, Own-child, Husband, Not-in-family, Other...",None,no
8,race,Feature,Categorical,Race,"White, Asian-Pac-Islander, Amer-Indian-Eskimo,...",None,no
9,sex,Feature,Binary,Sex,"Female, Male.",None,no
10,capital-gain,Feature,Integer,None,None,None,no
11,capital-loss,Feature,Integer,None,None,None,no
12,hours-per-week,Feature,Integer,None,None,None,no
13,native-country,Feature,Categorical,Other,"United-States, Cambodia, England, Puerto-Rico,...",None,yes
14,income,Target,Binary,Income,">50K, <=50K.",None,no

In [51]:
# 1)  Число столбцов в наборе данных
print("1: ", len(tab.columns))

# 2)  Есть ли пропуски в данных? Если есть, то в каких столбцах
print("2: ", f"yes: {tab.columns[tab.isna().any()].tolist()}"  if len(tab.columns[tab.isna().any()].tolist()) > 0 else "no")

# 3)  Кол-во уникальных значений в столбце race
print("3: ", len(tab['race'].unique()))

# 4)  Медиана hours-per-week
print("4: ", tab['hours-per-week'].median())

# 5)  Кого больше - женщин или мужчин с ЗП >50K?
print("5: ", "male" if
    len(tab[(tab['income'] == ">50K") & (tab['sex'] == "Male")]) >
    len(tab[(tab['income'] == ">50K") & (tab['sex'] == "Female")]) else
    "female")

# 6)  Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями.
#     Как еще можно было бы заполнить пропущенные данные?
#     Ответ: заполнить либо медианой, либо наименьшим, либо, самое очевидное - средним
tab = tab.fillna(tab.mode().iloc[0])
print("6: ", len(tab.columns[tab.isna().any()].tolist()))

1:  15
2:  yes: ['workclass', 'occupation', 'native-country']
3:  5
4:  40.0
5:  male
6:  0